### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [12]:
# Number of players = total unique SN
num_players = len(purchase_data["SN"].unique())
pd.DataFrame({"Total Players":[num_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# define and fill variables
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = len(purchase_data["Purchase ID"].unique())
total_revenue = purchase_data["Price"].sum()
# create dataframe
pd.DataFrame({"Number of Unique Items":[unique_items],
              "Average Price":["$"+str(round(average_price,2))],
              "Number of Purchases":[number_of_purchases],
              "Total Revenue":["$"+'{0:,.2f}'.format(total_revenue)]})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [20]:
# define and fill variables
purchase_data_no_duplicates = purchase_data.drop_duplicates(["SN"])
gender_totals = pd.DataFrame(purchase_data_no_duplicates["Gender"].value_counts())
gender_percentages = round((gender_totals/num_players),2)
# create master dataframe with totals and percentages
gender_sum = pd.concat([gender_totals,gender_percentages],axis=1)
# set column names
gender_sum.columns = ["Total Count","Percentage of Players"]
gender_sum["Percentage of Players"] = gender_sum["Percentage of Players"].map('{:.2%}'.format)
gender_sum

                       Total Count Percentage of Players
Male                           484                84.00%
Female                          81                14.00%
Other / Non-Disclosed           11                 2.00%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
# define and fill variables
purchase_count = purchase_data.groupby(["Gender"]).count()["Purchase ID"]
avg_purchase_price = round(purchase_data.groupby(["Gender"]).mean()["Price"],2)
total_purchase_value = round(purchase_data.groupby(["Gender"]).sum()["Price"],2)
avg_total_purchase_per_person = round(total_purchase_value / purchase_data_no_duplicates.groupby(["Gender"]).count()["Purchase ID"],2)
# combine series
summary_analysis = pd.concat([purchase_count,avg_purchase_price,total_purchase_value,avg_total_purchase_per_person],axis=1)
# set column names
summary_analysis.columns = ["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]
# format values
summary_analysis["Average Purchase Price"] = summary_analysis["Average Purchase Price"].map("${:.2f}".format)
summary_analysis["Total Purchase Value"] = summary_analysis["Total Purchase Value"].map("${0:,.2f}".format)
summary_analysis["Avg Total Purchase per Person"] = summary_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
summary_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
# define bins and titles
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# cut data into bins
purchase_data_no_duplicates["Age Ranges"] = pd.cut(purchase_data_no_duplicates["Age"],age_bins,labels=group_names)
# define and fill variables
age_demos_totals = purchase_data_no_duplicates["Age Ranges"].value_counts()
age_demos_percents = (age_demos_totals / num_players).map('{:.2%}'.format)
# create display dataframe
age_summary = pd.DataFrame({"Total Count":age_demos_totals, "Percentage of Players":age_demos_percents})
age_summary = age_summary.round(2)
# sort by index and display dataframe
age_summary.sort_index()

<ipython-input-27-773dc2ce8e28>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_data_no_duplicates["Age Ranges"] = pd.cut(purchase_data_no_duplicates["Age"],age_bins,labels=group_names)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
# Add bins to full data set with duplicate SNs
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],age_bins,labels=group_names)
# define and fill variables
avg_age = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_count = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
normalized_total = age_purchase_total / age_summary["Total Count"]
# create display dataframe
age_data = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": avg_age, "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized_total})
# format data
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data["Normalized Totals"] = age_data["Normalized Totals"].map("${:,.2f}".format)
age_data = age_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
# display
age_data.index.rename('Age Ranges', inplace=True)
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
# define and fill variables
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
user_gender = purchase_data.groupby(["SN"])["Gender"]
# create dataframe
user_data = pd.DataFrame({"Purchase Count": user_count,"Average Purchase Price": user_average, "Total Purchase Value": user_total})
# Grab top 5 and sort
top_spenders=user_data.sort_values("Total Purchase Value", ascending=False).head(5)
# format data
top_spenders["Average Purchase Price"] = user_data["Average Purchase Price"].map("${:,.2f}".format)
top_spenders["Total Purchase Value"] = user_data["Total Purchase Value"].map("${:,.2f}".format)
top_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
# single out item data into smaller dataframe
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
# define and fill variables
total_item_purchase = item_data.groupby(["Item ID","Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID","Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID","Item Name"]).count()["Price"].rename("Purchase Count")
# build display table
tempframe = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})
tempframe = tempframe.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
popular_item = tempframe.sort_values("Purchase Count", ascending=False).head(5)
# format and clean data
popular_item["Item Price"] = tempframe["Item Price"].map("${:,.2f}".format)
popular_item["Purchase Count"] = tempframe["Purchase Count"].map("{:,}".format)
popular_item["Total Purchase Value"] = tempframe["Total Purchase Value"].map("${:,.2f}".format)
pop_items = popular_item.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
pop_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [37]:
# display sorted table
tempframe.sort_values("Total Purchase Value", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80